<section class="crimson_cont">
			<div class="container">
				<div class="sixteen columns">
					<h2>La herramienta que estabas esperando</h2>
					<h1>Instantter BETA</h1>
					<p>La mejor manera de organizar tus publicaciones en Twitter e Instagram, con nuestra fabulosa aplicación tus tweets no se volverán a perder en tu Timeline.¿Quieres saber más?</p>
				</div>
				<div class="sixteen columns">
					<img src="https://dl.dropboxusercontent.com/u/12328089/CSS/instantter/IMG/crimsom_devices.png" alt="" class="scale-with-grid">
				</div>
				<div class="eight columns">
					<a href="#vermas" class="btn min300 big uppercase">Ver más</a> 
				</div>
				<div class="eight columns">
					<a href="/auth/twitter" class="btn min300 big uppercase">Entrar</a> 
				</div>
			</div>
		</section>
		<section id="vermas">
			<div class="container">
				<div class="twelve columns">
					<h1 class="crimson">Publica en Twitter.</h1>
					<h2>Nosotros hacemos el resto.</h2>
					<p>Déjanos ordenarte todas tus publicaciones importantes en Twitter. Instantter es  realmente sencillo de utilizar. Puedes publicar desde cualquier cliente o desde el  sitio oficial. ¿No te lo crees?</p>
				</div>
				<div class="twelve columns">
					<h1 class="crimson">1. Primer y único paso</h1>
					<h2>Crea tablones mediante un hashtag. #tablón</h2>
					<p>En Instantter únicamente debes definir un HT. A partir de ese momento, todo aquello que publiques con dicha etiqueta quedará almacenado en un fantástico tablón. </p>
				</div>
				<div class="twelve columns">
					<h1 class="crimson">¿Ya?</h1>
					<h2>Sí, ya te hemos enseñado la herramienta, ahora tú  decides el uso.</h2>
					<p>Puedes pensar para qué puede servirte dicha aplicación, aunque ya se nos han ocurrido un par de usos prácticos y divertidos:</p>
				</div>
				<div class="one-third column">
					<img src="https://dl.dropboxusercontent.com/u/12328089/CSS/instantter/IMG/uso1.png" class="center" alt="">
					<p>Reunir tus publicaciones con fotos o videos, tanto de Twitter como de Instagram.</p>
				</div>
				<div class="one-third column">
					<img src="https://dl.dropboxusercontent.com/u/12328089/CSS/instantter/IMG/uso2.png" class="center" alt="">
					<p>Hacer público el tablón con publicaciones sobre un evento. Los tuits no se van a perder en el TL.</p>
				</div>
				<div class="one-third column">
					<img src="https://dl.dropboxusercontent.com/u/12328089/CSS/instantter/IMG/uso3.png" class="center" alt="">
					<p>Crear tablones colectivos, por ejemplo, una excursión o un fin de semana con amigos.</p>
				</div>
				
				<div class="sixteen columns">
					<a href="#" class="btn wfull big uppercase center">Probar Instantter</a> 
				</div>

			</div>
		</section>

		