<div class="twitter">
  <textarea class="texttweet" rows="20" maxlength="140" onload="contarCaracteres()" onchange="contarCaracteres()" onKeyUp="contarCaracteres()"></textarea>
  <span class="caracteres">140</span>
  <a href="#" class="btn btn_yellow" id="bt_send_tweet">Twittear</a>
  <div class="confirm_tweet"></div>
</div>